<a href="https://colab.research.google.com/github/JAVAN91/PYTHON-LISTS/blob/main/Copy_of_%22Moringa_Data_Science_Prep_W1_Independent_Project_2021_04_JAVAN__OKELO_SQL_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%load_ext sql
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @None'

In [ ]:
import csv

In [ ]:
import pandas as pd

In [ ]:
with open('Uganda_Karamoja_Subcounty_Crop_Yield_Population.csv','r') as f:
    Museveni_ug = pd.read_csv("Uganda_Karamoja_Subcounty_Crop_Yield_Population.csv")
%sql PERSIST Museveni_ug;

 * sqlite://

'Persisted museveni_ug'

In [ ]:
#Display a list of Sub Counties and their population and areas
%%sql
SELECT SUBCOUNTY_NAME, "POP", "Area"
FROM museveni_ug

 * sqlite://
Done.

[('KACHERI', 17244, 1067176155),
 ('KOTIDO', 52771, 597575188),
 ('KOTIDO TOWN COUNCIL', 27389, 23972401),
 ('NAKAPERIMORU', 38775, 419111591),
 ('PANYANGARA', 65704, 880955930),
 ('RENGEN', 41273, 652744859),
 ('KAABONG  EAST', 42221, 60801942),
 ('KAABONG TOWN COUNCIL', 38857, 13071455),
 ('KAABONG WEST', 41454, 67612362),
 ('KALAPATA', 99203, 223116860),
 ('KAMION', 60070, 1199409465),
 ('KAPEDO', 33951, 304557831),
 ('KATHILE', 56870, 228457417),
 ('KAWALAKOL', 37691, 1742041261),
 ('LOBALANGIT', 22907, 302572789),
 ('LODIKO', 31820, 397700845),
 ('LOLELIA', 100919, 1069331387),
 ('LOYORO', 16608, 1330019236),
 ('NAPORE (KARENGA)', 20394, 309577387),
 ('SIDOK', 24092, 125330583),
 ('ABIM', 14377, 188613057),
 ('ABIM TOWN COUNCIL', 11489, 115941152),
 ('ALEREK', 12573, 1255760525),
 ('LOTUKEI', 18641, 191684465),
 ('MORULEM', 16834, 250364895),
 ('KARITA', 45015, 658008801),
 ('LOROO', 22541, 371970302),
 ('AMUDAT', 30181, 596393139),
 ('AMUDAT TOWN COUNCIL', 4053, 17207110),
 ('KATIKEKILE', 11772, 277451997),
 ('NADUNGET', 42115, 596023780),
 ('TAPAC', 21999, 622266516),
 ('NORTHERN DIVISION', 7161, 2738777),
 ('SOUTHERN DIVISION', 3272, 2121209),
 ('LOREGAE', 26644, 928683431),
 ('NAKAPIRIPIRIT TOWN COUNCIL', 1418, 4673094),
 ('NAMALU', 25905, 553067364),
 ('KAKOMONGOLE', 15960, 312709097),
 ('LOLACHAT', 22801, 642401705),
 ('LORENGEDWAT', 9929, 435714604),
 ('NABILATUK', 27534, 499776866),
 ('IRIIRI', 46979, 1030623258),
 ('LOPEEI', 18815, 790782350),
 ('LORENGECORA', 2503, 118997955),
 ('LOTOME', 17834, 125857565),
 ('MATANY', 29495, 338252511),
 ('NAPAK TOWN COUNCIL', 8010, 150906375),
 ('NGOLERIET', 20790, 158887552),
 ('NYAKWAE', 16470, 769609687),
 ('LOKOPO', 23200, 1794470536),
 ('RUPA', 41493, 2069554899),
 ('MORUITA', 16588, 839293722)]

In [ ]:
#Sort the list of districts by total crop area (descending order)
%%sql
SELECT DISTRICT_NAME
FROM museveni_ug
ORDER BY Crop_Area_Ha desc

 * sqlite://
Done.

[('KOTIDO',),
 ('KOTIDO',),
 ('KOTIDO',),
 ('KOTIDO',),
 ('KOTIDO',),
 ('KAABONG',),
 ('NAPAK',),
 ('NAKAPIRIPIRIT',),
 ('NAKAPIRIPIRIT',),
 ('NAPAK',),
 ('NAKAPIRIPIRIT',),
 ('KAABONG',),
 ('NAKAPIRIPIRIT',),
 ('NAKAPIRIPIRIT',),
 ('NAPAK',),
 ('NAPAK',),
 ('KAABONG',),
 ('KAABONG',),
 ('AMUDAT',),
 ('MOROTO',),
 ('KAABONG',),
 ('MOROTO',),
 ('NAKAPIRIPIRIT',),
 ('KAABONG',),
 ('NAPAK',),
 ('KOTIDO',),
 ('AMUDAT',),
 ('AMUDAT',),
 ('KAABONG',),
 ('KAABONG',),
 ('ABIM',),
 ('NAPAK',),
 ('NAKAPIRIPIRIT',),
 ('MOROTO',),
 ('NAPAK',),
 ('KAABONG',),
 ('ABIM',),
 ('KAABONG',),
 ('KAABONG',),
 ('KAABONG',),
 ('ABIM',),
 ('ABIM',),
 ('NAPAK',),
 ('ABIM',),
 ('ABIM',),
 ('KAABONG',),
 ('KAABONG',),
 ('MOROTO',),
 ('AMUDAT',),
 ('NAKAPIRIPIRIT',),
 ('MOROTO',),
 ('MOROTO',)]

In [ ]:
#Select only the Sub counties from the Moroto dist
#rict, order them alphabetically and show their production of sorghum.
%%sql
SELECT SUBCOUNTY_NAME FROM museveni_ug
WHERE DISTRICT_NAME= 'MOROTO'
ORDER BY "SUBCOUNTY_NAME" ASC

 * sqlite://
Done.

[('KATIKEKILE',),
 ('NADUNGET',),
 ('NORTHERN DIVISION',),
 ('RUPA',),
 ('SOUTHERN DIVISION',),
 ('TAPAC',)]

In [ ]:
#Compute the total Maize production per District.
%%sql
SELECT District_Name,count(M_Yield_Ha)
FROM museveni_ug
GROUP BY DISTRICT_NAME

 * sqlite://
Done.

[('ABIM', 6),
 ('AMUDAT', 4),
 ('KAABONG', 14),
 ('KOTIDO', 6),
 ('MOROTO', 6),
 ('NAKAPIRIPIRIT', 8),
 ('NAPAK', 8)]

In [ ]:
#Compute the number of Sub counties where Maize is
# produced and the total Maize production per District.
%%sql
SELECT ("DISTRICT_NAME"),Count(M_Prod_Tot) FROM museveni_ug
ORDER BY DISTRICT_NAME

 * sqlite://
Done.

[('NAKAPIRIPIRIT', 52)]

In [ ]:
#Compute the overall Crop area in all Sub counties 
#where population is over 20000.
%%sql
SELECT POP,SUBCOUNTY_NAME,Crop_Area_Ha 
FROM museveni_ug
WHERE"POP">20000

 * sqlite://
Done.

[(52771, 'KOTIDO', 13587.990759999999),
 (27389, 'KOTIDO TOWN COUNCIL', 1656.5318550000002),
 (38775, 'NAKAPERIMORU', 7087.823334000001),
 (65704, 'PANYANGARA', 10398.24939),
 (41273, 'RENGEN', 13278.52043),
 (42221, 'KAABONG  EAST', 1021.31699),
 (38857, 'KAABONG TOWN COUNCIL', 175.08052659999998),
 (41454, 'KAABONG WEST', 967.3367266),
 (99203, 'KALAPATA', 2834.349905),
 (60070, 'KAMION', 997.1610206),
 (33951, 'KAPEDO', 2365.259806),
 (56870, 'KATHILE', 6890.699234000001),
 (37691, 'KAWALAKOL', 3934.432233),
 (22907, 'LOBALANGIT', 1890.248613),
 (31820, 'LODIKO', 401.7978207),
 (100919, 'LOLELIA', 2700.676313),
 (20394, 'NAPORE (KARENGA)', 1494.047587),
 (24092, 'SIDOK', 957.4939457999999),
 (45015, 'KARITA', 2513.27183),
 (22541, 'LOROO', 1539.401382),
 (30181, 'AMUDAT', 1651.99842),
 (42115, 'NADUNGET', 2480.1219),
 (21999, 'TAPAC', 1111.664207),
 (26644, 'LOREGAE', 5759.618906000001),
 (25905, 'NAMALU', 5793.5076229999995),
 (22801, 'LOLACHAT', 5079.779088),
 (27534, 'NABILATUK', 3276.653762),
 (46979, 'IRIIRI', 5473.443674),
 (29495, 'MATANY', 2990.847377),
 (20790, 'NGOLERIET', 1215.227445),
 (23200, 'LOKOPO', 6471.047334000001),
 (41493, 'RUPA', 2217.2907170000003)]

In [ ]:
#Sort the Maize production in descending order by Districts, only taking into account Sub counties where Maize area is
 # than Sorghum area, and display the number of Sub counties per district matching that criteria.
 %%sql
 SELECT DISTRICT_NAME ,M_AREA_Ha,S_Area_Ha 
 FROM museveni_ug
 WHERE "M_AREA_Ha">"S_Area_Ha"
 ORDER BY "M_Prod_Tot" DESC;

 * sqlite://
Done.

[('NAKAPIRIPIRIT', 3293.74946, 2197.572106),
 ('NAPAK', 3840.6980810000005, 1550.9445699999999),
 ('AMUDAT', 972.1742458999998, 676.7832664),
 ('NAKAPIRIPIRIT', 959.6711616, 185.2834449),
 ('KAABONG', 1005.8773960000001, 879.0023395),
 ('KAABONG', 1221.532726, 267.559128),
 ('KAABONG', 549.8633367000001, 411.8070005),
 ('NAPAK', 401.1734419, 386.1580327),
 ('MOROTO', 793.2370943, 315.979223),
 ('MOROTO', 103.27756219999999, 30.15704817),
 ('NAKAPIRIPIRIT', 27.79576662, 1.3399191590000001),
 ('MOROTO', 0.19137495100000002, 0.130940756)]